<!--
  Generated template for the AdminBarcode page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Generate Barcodes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    
    <ion-item *ngIf="charity_account_list.length > 0">
      <ion-label floating>Charity Name</ion-label>
      <ion-select [disabled]="disabled" [(ngModel)]="charityName" interface="popover">
        <ion-option *ngFor="let charity of charity_account_list" (ionSelect)="onSelectChange(charity.id)">{{charity?.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="charity_account_list.length == 0">
      <ion-label inline>{{user.name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label floating>Number of Cards to Generate</ion-label>
      <ion-input [disabled]="disabled" [(ngModel)]="ui_card_batch.amount" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Daily Quota</ion-label>
      <ion-input [disabled]="disabled" [(ngModel)]="ui_card_batch.quotaPerDay" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Monthly Quota</ion-label>
      <ion-input [disabled]="disabled" [(ngModel)]="ui_card_batch.quotaPerMonth" type="number"></ion-input>
    </ion-item>

  </ion-list>
  <br>
  <button [disabled]="disabled" ion-button color="secondary" outline (click)="generate()">Generate</button>
</ion-content>
