page-admin-validate {
  ion-content {
    div {
      width: 100%;
      height: 100%;
      padding: 0 !important;
      position: relative;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 56px;
      margin: auto;
    }
  }
}
